@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: white;
}